@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "League Spartan", ui-sans-serif, system-ui, sans-serif;
  --breakpoint-3xl: 120rem;

  --color-siva-100: #ffffff;
  --color-siva-200: #d9d9d9;
  --color-siva-300: #919491;
  --color-siva-800: #121212;
  --color-bordo-400: #b91c1c;
  --color-bordo-500: #7c1212;
  --color-bordo-600: #671817;
  --color-bordo-700: #24130e;

  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}

body {
  font-family: var(--font-sans);
}
:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #121212;
  --color-siva-100: #ffffff;
  --color-siva-200: #d9d9d9;
  --color-siva-300: #919491;
  --color-siva-800: #121212;

  --color-bordo-400: #b91c1c;
  --color-bordo-500: #7c1212;
  --color-bordo-600: #671817;
  --color-bordo-700: #24130e;
}

body {
  font-family: var(--font-sans);
}

.light {
  color: #121212;
  background-color: #d9d9d9;

  --color-siva-100: #121212;
  --color-siva-200: #4b5563;
  --color-siva-300: #6b7280;
  --color-siva-800: #d9d9d9;

  --color-bordo-400: #d32f2f;
  --color-bordo-500: #b71c1c;
  --color-bordo-600: #9f1a1a;
  --color-bordo-700: #7f0f0f;
}

.light body {
  background-color: #d9d9d9;
  color: #121212;
}

.light header {
  color: white;
}

.myModal {
  scrollbar-width: inherit; /* Firefox */
  scrollbar-color: #b71c1c #6b7280; /* thumb track */
}
/* Chrome / Edge */
.myModal::-webkit-scrollbar {
  width: 6px;
}
.myModal::-webkit-scrollbar-track {
  background: #6b7280;
  border-radius: 9999px;
}
.myModal::-webkit-scrollbar-thumb {
  background: #b71c1c;
  border-radius: 9999px;
}
.myModal::-webkit-scrollbar-thumb:hover {
  background: #b71c1c;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: both;
}
